@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1b1b1b;
  --text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #1b1b1b;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

@font-face {
  font-family: "8Bit";
  src: url("../public/fonts/slkscr.ttf") format("truetype");
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "8Bit", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.75s ease-in-out;
}
